body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #f4f7fc;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #181818;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu li {
    padding: 15px 20px;
    cursor: pointer;
    color: #888888;
    transition: background-color 0.3s;
}

.menu li:hover, .menu .active {
    background-color: #333333;
    color: white;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.search button {
    padding: 10px;
    border: none;
    background-color: #333333;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile .notifications i {
    margin: 0 10px;
    cursor: pointer;
}

.section {
    margin-bottom: 20px;
}

.section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cards, .storage-cards {
    display: flex;
    justify-content: space-between;
}

.card, .storage-card {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    width: 23%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card-content h3 {
    margin: 0;
    font-size: 36px;
}

.card-content p {
    color: #888888;
    margin: 5px 0 0;
}

.reports {
    display: flex;
    justify-content: space-between;
}

.recent-reports, .chart-by-percent {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    width: 48%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recent-reports h2, .chart-by-percent h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.recent-reports canvas, .chart-by-percent canvas {
    width: 100% !important;
    height: 400px !important;
}

.settings-content {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.settings-content p {
    font-size: 16px;
    color: #333;
}

.settings-content ul {
    list-style
}